.register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
.register-header{
  margin: 0 auto;
  margin-top: 10vh
}
.register-content{
  width: 80vw;
}
.register-footer{
  margin: 0 auto;
  color: #828486;
}