/* 清除默认边距和内边距 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 包含内边距和边框到元素的宽度和高度中 */
}

/* 清除列表样式 */
ul,
ol {
  list-style: none;
}

/* 清除表格边框间距 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 清除文本修饰和颜色 */
a {
  text-decoration: none;
  color: inherit;
  /* 继承父元素的文本颜色 */
}

/* 清除表单元素默认样式 */
button,
input,
textarea,
select {
  font-family: inherit;
  /* 继承父元素的字体 */
  font-size: 100%;
  /* 继承父元素的字体大小 */
  outline: none;
  /* 去除点击时的轮廓线 */
  border: none;
  /* 去除边框 */
  background-color: transparent;
  /* 透明背景 */
  /* 根据需要添加其他样式重置 */
}

/* 根据需要添加其他元素的重置 */

/* 清除HTML5新元素默认样式 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}